---
layout: default
permalink: /
---

 {% include hero.html %}

 {% include about.html %}

 {% include statistic.html %}

 {% include latest-news.html %}

{% if site.rockstarSpeakersCount > 0 %}
 {% include rockstar-speakers.html %}
{% endif %}

 {% include location-map.html %}

 {% include venue.html %}
 
 {% include twitter-feed.html %}

 {% include partners.html %}

{% if site.subscribeAction %}
 {% include subscribe.html %}
{% endif %}

 {% include tickets.html %}

 {% include tickets-2.html %}