<!-- Begin Find Way-->
<section id="things-todo" class="things-todo">    
    <div class="content-wrapper text-left">
        <h4>Start spreading the news</h4>
        <p></p>
        <h4>I want to be a part of it</h4>
        <p></p>
        <h4>These vagabond shoes, are longing to stray</h4>
        <p>Walking...</p>
        <h4>Right through the very heart of it</h4>
        <p>Just 7 blocks west of Weill Cornell Medicine, Central Park dominates the heart of Manhattan.</p>
        <h4>I want to wake up</h4>
        <p>Breakfast options?</p>
        <h4>in a city, that doesn't sleep</h4>
        <p>Dinner / Night life...</p>
        <h4>And find I'm king of the hill, top of the heap</h4>
        <p>A city famed for it's skyscrapers, for 66 years New York has led the
        way in building upwards. Whilst it hasn't been home to the tallest building
        in the world since 1974, there are still many opportunities to get above it all.</p>
        <h5>30 Rockefeller Plaza</h5>
        <p>The baby of the observation decks at just 850ft, it is the closest to Weill Cornell Medicine.
        What it lacks in height, it gains in location, providing great views over Central Park to the North,
        and the skyscrapers of downtown Manhattan to the South.</p>
        <p>Also known as 30 Rock, the building houses the NBC Studios, and a wide range of shopping at ground level - 
        including fashion, gifts, entertainment, and even a LEGO Store.</p>
        <p>Look for ticket offers, including a "Sun & Stars" package that allows 2 visits to the observation deck
        in 24 hours - allowing both day and night viewing of the skyline</p>
        <h5>Empire State Building</h5>
        <p>From 1931-1972, it held the crown as the world's tallest building -
        the longest reign of any skyscraper to date.</p>
        <h5>One World Trade Center</h5>
        <p>One of the newest additions to the New York skyline, it's also the tallest at 1,776ft.
        </p>
        <h4>These little town blues, are melting away</h4>
        <p></p>
        <h4>I'm gonna make a brand new start of it, in old New York</h4>
        <p>Tenement museum?</p>
        <h4>If I can make it there, I'll make it anywhere</h4>
        <p>People's Improv Theatre</p>
        <p>Broadway</p>
        <h5><i>It's up to you, New York, New York...</i></h5>
    </div>
</section>
<!-- End Find Way -->